
<form id="formElem">
    <label for="title">Site name:</label>
    <input name="title" type="text" required>
<!-- 
    try do this
    https://www.w3schools.com/html/tryit.asp?filename=tryhtml5_datalist 
-->
    <br><br>

    <input type="submit">
</form>

<%- script %>


